.furniture {

  &__label {
      text-align: center;
      color:  black;
      line-height: 1.5;
      &:not(:last-child){
        margin: 0px 0px 8px/20px * 1em 0px;
      }
  }

  &__title {
      margin: 0px 0px 32px/40px * 1em 0px;
  }

  &__body {
      position: relative;
      @media(any-hover: none){
          overflow: auto;
          -webkit-overflow-scrolling: touch;
      }
  }

  &__items {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      align-items: center;
      gap: 16px;
      @media(any-hover: hover){
          justify-content: center;
      }
  }

  &__column {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -8px;
      &:first-child{
          justify-content: flex-end;
      }
  }

  &__row {
      display: inline-grid;
      padding: 0 8px;
      gap: 16px;
      grid-template-columns: auto;
      grid-auto-flow: column;
      &:not(:last-child){
        margin: 0px 0px 16px 0px;
      }
  }
}

.row-furniture {

  &_left-top {
      justify-content: end;
      align-items: end;
  }

  &_left-bottom {
      justify-content: end;
      align-items: start;
  }

  &_center {
      display: block;
  }

  &_right-top {
      align-items: end;
  }

  &_right-bottom {
      align-items: start;
  }

  &__item {
      @media(any-hover: hover){
          img{
              transition: all .8s ease 0s;
              filter: grayscale(1);
          }
          &:hover{
              img{
                  filter: grayscale(0);
              }
          }
      }
  }
}

.furniture__items {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.furniture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.furniture__column:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.furniture__row {
  display: inline-grid;
  padding: 0 8px;
  gap: 16px;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.furniture__row:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.row-furniture_left-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.row-furniture_left-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.row-furniture_center {
  display: block;
}

.row-furniture_right-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.row-furniture_right-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}